.item-content {
    position: relative;
}
.item-img {
    height: 100%;
    width: 100%;
    border-radius: 24px;
}

.item-description {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
}

.item-details-content-root {
    background-color: #ffffff;
    border-radius: 24px;
    padding: 24px;

}

.item-details-content-title {
    margin-bottom: 8px;
}

.item-details-content-content{
    text-align: justify;
}