.header {
    height: 200%;
    width: 100%;
    background: grey;
    overflow: hidden;
}


a:hover {
    color: red;
}


.header > p {
    font-weight: bold;;
    text-align: center;
}

.chats-content-root {
    display: flex;
    flex-direction: row;
}


.chat-list-header > h1 {
    color: black;
    text-align: left;
    margin-bottom: 15px;

}
