.root__cc {
}

.content-container__cc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


@media screen and (min-width: 1360px) {
    .root__cc {
        background: #F2F4F6;
        min-height: 100vh;
    }

    .root-content__cc {
        width: inherit;
    }

    .root-content__cc .header__cc {
        width: 100%;
    }

    .root-content__cc .content-container__cc {
        margin: auto;
        width: 1340px;
        position: relative;

    }
}
