.root__cc {
}

.content-container__cc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


@media screen and (min-width: 1360px) {
    .root__cc {
        background: #F2F4F6;
    }

    .root-content__cc {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: inherit;
    }

    .root-content__cc .header__cc {
        background-color: white;
        width: 100%;
    }

    .root-content__cc .content-container__cc {
        flex-grow: 1;
        height: auto;
        width: 1250px;
        position: relative;

        margin: 25px auto;
    }

    .content-footer_cc {
        display: flex;
        margin-top: auto;
    }
}
