.main-content {
    position: relative;
    width: 100%

}

.main-content-header {
    width: 100%;
    font-weight: bold;
    text-align: left;
    font-size: 32px;
    padding: 12px 24px 16px 20px;
}
