.root__cc {
}

.root-content__cc {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10%;
}

.content-container__cc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
