.chat-preview-root {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.chat-preview-root .left-block-content {
    position: relative;

}

.chat-preview-root .right-block-content {
    position: relative;
}

.clickable-button {
    display: inline-flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    place-items: center;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 5px;
}

.clickable-button:hover {
    background-color: rgba(128, 128, 128, 0.25);
}


.clickable-button-area {
    display: inline-flex;
    place-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
}


.clickable-button-area svg {
    width: 24px;
    height: 24px;
}

.back-icon {
    width: 24px;
    height: 24px;
    color: currentColor;
}