.chat-preview-link {
    display: block;
    min-width: 700px;
    width: 50%;
    padding: 23px 19px 21px 20px;
}

.chat-preview-link:hover {
    border-radius: 20px;
}

.chat-preview-link:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

