.fieldset-size {
    padding-top: 8px;
    padding-bottom: 8px;
}

.fieldset-fieldset {
    position: relative;
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}


/*RIghtFormat*/
.column-root-textarea {
    all: unset;
    width: 100%;
    height: 100%;
}


/*LeftLayoutLabel*/
.column-label-span {
    color: #5C5C5C;
    display: flex;
    align-items: center;
    white-space: pre-line;
    flex-wrap: wrap;
}

/**/


.div-div-layout {
    margin: 0;
    padding: 4px 8px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
    border-color: #cccccc;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    border-style: solid;
    outline: 0;
    flex-shrink: 1;
}

.div-div-layout:hover {
    border-color: #B8B8B8;
    z-index: 2;
}


.div-layout-xs-size {
    min-height: 40px;
    display: flex;
    max-width: 25%;
    flex-basis: 25%;
    aspect-ratio: 1.5;
}

.div-layout-s-size {
    min-height: 40px;
    display: flex;
    max-width: 35%;
    flex-basis: 35%;
}

.div-layout-m-size {
    min-height: 40px;
    display: flex;
    max-width: 50%;
    flex-basis: 50%;

}

.div-layout-l-size {
    min-height: 40px;
    display: flex;
    max-width: 100%;
    flex-basis: 100%;

}