.advertisement-author-block-root {
    padding: 2px;
    display: flex;
}

.advertisement-image {
    width: 60px;
    height: 45px;
    position: relative;
    background: green;
    border-radius: 10px;
    overflow: hidden;
}


.advertisement-author-image {
    width: 20px;
    height: 20px;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
}

.advertisement-image img,
.advertisement-author-image img {
    width: inherit;
    height: inherit;
}
