.advertisement-card-preview {
    padding: 23px 19px 21px 20px;
    width: 840px;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
}

.advertisement-card-preview:hover {
    border-radius: 10px;
}


.advertisement-card-preview div.card-actions {
    margin-left: auto;
}


.card-image {
    height: 80px;
    width: 100px;
}

.card-image img {
    height: inherit;
    width: inherit;
}

.card-info {
    margin-left: 6px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

ul.card-info-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-around;
}

.adv-actions-dropdown {
    position: relative;
    margin-left: auto;
}

.adv-actions-dropdown > button {
    background-color: inherit;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.55);
}

.adv-actions-dropdown > button svg {
    width: 15px;
    height: 15px;
}

.card-info-list > li > button {
    border: 0;
    background-color: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    text-align: left;
}


.card-info-list > li > button:hover {
    color: red;
    cursor: pointer;
}
