.chat-preview-info-root {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.chat-preview-info-root > div{
    margin-bottom: 2px;
}

.advertisement-info-author-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.advertisement-info-title__ai {
    display: flex;
    line-height: 18px;
    font-size: 14px;
}

.advertisement-info-title-title {
    line-height: 18px;
    font-size: 14px;
}

.advertisement-info-title-price {
    line-height: 18px;
    font-size: 14px;
}

.advertisement-info-title-title:not(:last-child)::after {
    content: ' \00B7\00A0';
}

.advertisement-message {
    font-size: 14px;

}
.advertisement-message-text {
    color: grey;
}