
.sign-up-wrapper {
    height: 100vh;

    display: flex;
    place-items: center;
    justify-content: center;
}

.sign-up-container {
    background: whitesmoke;
    padding: 120px 70px;
    border-radius: 5px;
    border: 1px solid grey;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-header {
    padding: 10px;
}

.input-forms {
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.security-parameters {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.security-parameters > input ~ input {
    margin-top: 5px;
}

.personal-parameters {
    padding: 5px 0;
}
.submit-btn {
    padding: 5px 0;
    margin: auto;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}