.advertisement-card {
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;

}

.advertisement-card:hover {
    background: #f7f7f5;
    border-radius: 10px;


}

.advertisement-card > div {
    border: 1px solid red;
    margin: 10px 10px 10px 20px;

}

.advertisement-card div.card-actions {
    margin-left: auto;
}

.card-image {
    height: 60px;
    width: 80px;
}

.card-image img {
    height: inherit;
    width: inherit;
}

.card-info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card-info > ul {
    position: relative;
    margin-top: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    overflow-wrap: break-word;

}

.card-actions {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 20%;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-author-details {
    margin-top: 12px;
    overflow: hidden;
}


.element-bar {
    padding: 5px 0 5px 5px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.element-bar > a > p {
    font-weight: bold;
    font-style: normal;
}

.profile-author-name {
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 5vh
}

