.author-icon-format {
    border-radius: 50%;
}


.header {
    background: grey;
    overflow: hidden;
}

a:active,
a {
    text-decoration: none;
    color: black
}

a:hover {
    color: red;
}

p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.header > p {
    font-weight: bold;
    text-align: center;
}

.content-container {
    display: flex;
    flex-shrink: 0;
    min-width: 100vw;
    min-height: 100vh;
    margin-top: 100px;
    justify-content: center;
    padding: 0;

}

.content-container > div {
    background: #e1ddd6;
    border-radius: 30px;
}

.profile-icon {
    width: 100px;
    height: 100px;
    background: black;
    display: block;
}

.profile-side-bar {
    padding-left: 10px;
    padding-bottom: 20px;
    width: 20%;
    height: 200%;
    margin-right: 40px;
}

.main-content {
    width: 60%;
    background: whitesmoke;
    position: relative;

}

.advertisement-header {
    width: 100%;
    font-weight: bold;
    margin-top: 40px;
    text-align: left;
    margin-left: 20px;
    font-size: 4vh;
}
