
.index-search-input-root {
    height: 20px;
    background-color: #F2F1F0;
    border-radius: 12px;
    padding: 11px 10px 13px 16px;

    align-self: flex-end;
}

.index-search-input-inner {
    width: 712px;
    display: flex;
    flex-direction: row;
    height: 20px;
    place-items: center;
}

.content-placing-center {
    display: flex;
    flex-direction: row;
    place-items: center;
}

.index-search-separator:not(:first-child) {
    margin-left: 6px;
}

.index-search-right {
    width: 100%;
}

.index-search-right input {
    all: unset;
    width: 100%;
}


.index-search-button {
    height: 100%;
}

.index-search-button button {
    all: unset;
}

.index-search-button-style {
    cursor: pointer;
    border-radius: 10px;
    padding: 9px 18px;
    background-color: white;
}

.index-search-button-compensation {
    margin-top: 1px;
    margin-right: -7px;
}