.group-title-inline {
    display: inline-flex;
}


.edit-group-action-buttons {
    display: flex;
    flex-direction: row;
}


.edit-group-action-buttons *:not(:first-child) {
    margin-left: 10px;
}

.save-advertisement-button, .exit-advertisement-button {
    display: flex;
}

.save-advertisement-button:hover, .exit-advertisement-button:hover {
    opacity: 0.5;
}

.save-advertisement-button {
    flex-basis: 50%;
}

.exit-advertisement-button {
    flex-basis: 25%;
}

.save-advertisement-button button {
    background: #00aaff;
}

.exit-advertisement-button button {
    background: yellow;
}

.s-btn-width {

}

.e-btn-width {

}