.group-title-inline {
    display: inline-flex;
}

.index-edit-ad-root {
    margin: 30px 0;
}

.edit-group-footer {
    margin-top: 60px;
}

.edit-group-footer-action-buttons {
    display: flex;
    flex-direction: row;
}


.edit-group-footer-action-buttons *:not(:first-child) {
    margin-left: 10px;
}

.column-button-width {
    width: 100%;
}

.column-width {
    flex-basis: 25%;
    max-width: 25%;
}


.save-advertisement-button button {
    border-radius: 3px;
    background: #00aaff;
    color: white;
}

.exit-advertisement-button button {
    border-radius: 3px;
    background: #bbbbbb;
}


/*PriceColumnRoot*/

.price-column-root {
}

