
.advertisement-content {
    margin: auto;
    height: 100vh;
}

.advertisement-content-wrapper {
    padding: 0 10px 10px;
}


.item-content-container {
    width: 964px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    margin: auto;
}

.item-left-block {
    width: 80%;
}

.item-right-block {
    height: 100%;
    width: 20%;
    top: 1%;
    position: sticky;

    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}


.item-header {
    line-height: 24px;
}

.item-details {
    line-height: 24px;
    color: grey;

}


.item-img {
    height: 100%;
    width: 100%;
}

.item-details-info > div {
    padding: 5px 0;
    border-top: 1px solid #e0e0e0;;
}

ul.item-parameters-list {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.author-icon-format {
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.item-author-img {
    width: 100px;
    height: 100px;
    display: flex;
    place-items: center;
}


.item-author-actions {
    width: 50%;
    list-style-type: none;
}


.author-content-container {
    flex-grow: 1;
}

.item-author-details {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.item-author-details > div {
    margin-bottom: 20px;
}

ul.item-author-actions-list {
    display: flex;
    justify-content: center;
}



