
body {
    background-color: #f7f7f5;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

span, p, h1, h2, h3, ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: inherit;
}

a:active,
a {
    text-decoration: none;
    color: inherit;
}

img {
    border-radius: 10px;
}

.price:after {
    content: "P";
}

