.author-icon-format {
    border-radius: 50%;
}


.header {
    background: grey;
    overflow: hidden;
}

a:active,
a {
    text-decoration: none;
    color: black
}

a:hover {
    color: red;
}

p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.header > p {
    font-weight: bold;
    text-align: center;
}

.content-container {
    display: flex;
    flex-shrink: 0;
    min-width: 100vw;
    min-height: 100vh;
    margin-top: 100px;
    justify-content: center;
    padding: 0;

}

.content-container > div {
    background: #e1ddd6;
    border-radius: 30px;
}

.profile-icon {
    width: 100px;
    height: 100px;
    background: black;
    display: block;
}

.profile-side-bar {
    padding-left: 10px;
    padding-bottom: 20px;
    width: 20%;
    height: 200%;
    margin-right: 40px;
}

.main-content {
    width: 60%;
    background: whitesmoke;
    position: relative;

}

.advertisement-header {
    width: 100%;
    font-weight: bold;
    margin-top: 40px;
    text-align: left;
    margin-left: 20px;
    font-size: 4vh;
}

ul.card-info-list > li {
    font-size: 2.5vh;
}


.advertisement-card {
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;

}

.advertisement-card:hover {
    background: #f7f7f5;
    border-radius: 10px;


}

.advertisement-card > div {
    border: 1px solid red;
    margin: 10px 10px 10px 20px;

}

.advertisement-card div.card-actions {
    margin-left: auto;
}

.card-image {

    height: 10vh;
    width: 10vw;
    background: black;
    display: flex;
    align-items: center;
}

.card-info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card-info > ul {
    position: relative;
    margin-top: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    overflow-wrap: break-word;

}

.card-actions {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 20%;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-author-details {
    margin-top: 12px;
    overflow: hidden;
}


.element-bar {
    padding: 5px 0 5px 5px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.element-bar > a > p {
    font-weight: bold;
    font-style: normal;
}

.profile-author-name {
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 5vh
}


